#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.select-rule-container {
  display: block;
  background-color: #afb2f2aa;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;

  min-height: 200px;
}
.select-rule-container > select {
  padding: 1px;
  outline: none;
  border: none;
  color: #0f1137aa;
}

.text {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  color: #181285aa;
  font-size: 30px;
  font-weight: 700;
}

.rule-tab {
  background-color: #8faaeeaa;
  padding: 8px;
  margin: 7px;
  border-radius: 5px;
  color: #0a4e5daa;
  font-weight: 700;
  cursor: pointer;
}
.rule-tab:hover {
  background-color: #ecdada;
  color: #0f1137aa;
}
.code-container-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.code-tabs {
  margin: 20px;
}
.code-line {
  color: #646cffaa;
}
.code-line:first-child {
  color: rgb(69, 130, 109) !important;
}
.code-line:nth-child(odd) {
  color: rgb(65, 19, 158);
}

.code-line:nth-child(even) {
  color: rgb(52, 98, 216);
}
.code-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid #6266b5aa;
  border-radius: 10px;
  padding: 20px;
  background-color: #d6d7edaa;
  min-width: 450px;
  min-height: 120px;
  margin-bottom: 15px;
}

.filler {
  padding: 18px;
  display: block;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
